# Local
.DS_Store
*.local
*.log*
tsconfig.tsbuildinfo
.eslintcache

# Dist

dist/
node_modules/
coverage/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

llm_test/top-key
llm_test/new-type