name: Changesets

on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for OIDC
  contents: write

env:
  CI: true

jobs:
  version:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: 24

      - name: Setup pnpm
        run: corepack enable pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Create and publish versions
        id: changesets
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          commit: 'chore: update versions'
          title: 'chore: update versions'
          publish: pnpm publish:ci
          createGithubReleases: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
